html { background: #111;
    font-family: Noto Sans Display;
    color: #eee;
    font-size: 1em;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h1 { 
font-size: 5em; 
text-align: center;
}

a {
color: white;
}

@keyframes textflicker {
from {
 text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
}
to {
 text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
}
}

.anim-typewriter{
    white-space: wrap;
    overflow: hidden;
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }